@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

body, *,
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    line-height: initial;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
    color: #5A5A5A;
}

.btn-contact {
    border-radius: 100px;
    color: #fff !important;
    background-color: #00DE9C;
    box-shadow: 0px 2px 8px rgba(25, 137, 104, 0.19);
}

.btn-contact:hover,
.btn-contact:focus {
    color: #fff !important;
    background-color: #00ca8d !important;
}

.hero-section .heading {
    color: #5A5A5A;
    font-weight: 800;
}

/* .hero-section p {

} */

/* Services Section */
.services-section .title {
    max-width: 400px;
    font-weight: 700;
}

.services-section .card-services {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.services-section .card-services .content {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    padding: 25px;
    border-top-right-radius: 8px;
    width: 100%;
    max-width: 70%;
}

.services-section .card-services .content h4 {
    max-width: 330px;
}

/* Footer */
.footer {
    background-color: rgba(4, 156, 251, 0.03);
}